body {
  text-align: center;
}

ul {
  list-style: none;
  padding: 0;
}

p, h1, h2, h3, h4, h5, h6 {
  margin: 1rem 0;
}

form>:first-child {
  margin-top: 0;
}

form>:last-child {
  margin-bottom: 0;
}

fieldset {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 0;
  padding: 0;
  border: none;
}

legend {
  font-size: x-small;
}

input:is([name="undefined"], [name="null"], [name="object"], [readonly]) {
  width: 6em;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.list>li {
  min-height: 1.6em;
  min-width: 2.5em;
}

.row-list {
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.unbound {
  position: relative;

  .list:not(.row-list) & {
    left: 12px;

    &::before {
      content: "♺";
      font-size: large;
      position: absolute;
      right: 100%;
      top: 50%;
      translate: -20px -50%;
    }
  }

  &::after {
    font-size: smaller;
    font-style: italic;
    content: "unbound";
    position: absolute;
    bottom: 79%;
    left: 50%;
    translate: -50%;
    --s: 0 0 3px white;
    text-shadow: var(--s), var(--s), var(--s), var(--s), var(--s), var(--s), var(--s), var(--s), var(--s), var(--s), var(--s);
  }
}

.buttons {
  margin-top: 1rem;
}
